<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="SqlExpressConnectionString" connectionString="Server=.\SQLEXPRESS;Database=MDLABData;user=sa;password=123456;Trusted_Connection=True;"/>
      <add name="MSSqlLocalDbConnectionString" connectionString="Server=(localdb)\MSSQLLocalDB;Database=MDLABData;Trusted_Connection=True;"/>
    </connectionStrings>
</configuration>